.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 10%;
    background-color: transparent;
  }
  
  .rs-sidenav-subtle {
    background-color: transparent !important;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: "NTR", sans-serif;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    padding: 0.2em;
    font-weight: bold;
  }
  
  a {
    text-decoration: none !important;
    color: var(--light-purple) !important;
  }
  
  a:hover {
    color: var(--lightest-purple) !important;
  }
  
  .sidebar-logos {
    padding-top: 42px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
  }