.container.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
}

.about__me-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about__me {
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
}

.about_cta {
    margin-top: 2rem;
}

  
  /* ============= MEDIA QUERIES (SMALL DEVICES) ============= */
  @media screen and (max-width: 600px) {
    .about__me {
        width: 100%;
        margin: 0 auto 3rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
  }