@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #432762;
  --color-bg-variant: #2c2c6c;
  --color-primary: #81a2f5;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "NTR", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/* ============= GENERAL STYLES ============= */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}


/* ============= INTRO ============= */
header {
  height: 100vh;
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.header-img {
  width: 26rem;
  position: relative;
  right: 40%;
  overflow: hidden;
  margin-right: -11rem;
}

.intro-title {
  font-size: 5.5rem;
  font-weight: 700;
  display: inline-block;
  margin-right: 29rem;
}

.intro-name {
  color: rgb(201, 52, 201);
}

.Cursor {
  margin-left: 4px; 
  animation: blink 1s infinite;
  font-size: 80px;
  color: white;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.intro-subtitle {
  margin-top: -36px;
  font-family: "NTR", sans-serif;
  color: var(--slate);
  font-weight: 300;
  font-size: 48px;

}
/*
.intro-desc {
  max-width: 600px;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  margin-right: 29rem;
}
*/
.intro-desc {
  font-size: 1.3rem;
  font-weight: 200;
  max-width: 30rem;
  text-align: left;
  margin-right: 30rem;
}


/* ============= NAV ============= */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  bottom: 10%;
  background-color: transparent;
}

.rs-sidenav-subtle {
  background-color: transparent !important;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "NTR", sans-serif;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 16px;
  padding: 0.2em;
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: var(--green-bright) !important;
}

a:hover {
  color: var(--lightest-slate) !important;
}

.sidebar-logos {
  padding-top: 42px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
}

/* ============= ABOUT ============= */
#about {
  padding-left: 15%;
  padding-right: 25%;
  min-height: 60vh;
  margin-top: 50px;
}

.section-title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.section-header:after {
  content: "";
  display: inline-block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: lightblue;
}

.about-description ul {
  padding-top: 10px;
  padding-left: 50px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-description li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: var(--slate);
}

.about-description li::before {
  content: "▹    ";
  color: var(--green-bright);
  position: absolute;
  left: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.about-description {
  font-family: "NTR", sans-serif;
  color: var(--slate);
  max-width: 600px;
  font-size: 22px;
  text-align: justify;
  margin: 0;
}

.about-description a,
.about-description b {
  font-size: 21px;
  font-weight: bold;
}

.about-image {
  padding-left: 40px;
}

.about-image img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

.about-image:hover {
  transform: translateY(-7px);
}

/* ============= EXPERIENCE ============= */
#experience {
  padding-left: 15%;
  min-height: 60vh;
}

.joblist-job-title {
  font-family: "NTR", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: var(--lightest-slate);
}

.joblist-job-company {
  font-family: "NTR", sans-serif;
  font-size: 28px;
  color: var(--green-bright);
  font-weight: bold;
}

.joblist-duration {
  font-family: "NTR", sans-serif;
  font-size: 18px;
  color: var(--slate);
}

#vertical-tabpanel {
  margin-top: -28px;
  padding-left: 25px;
}

.MuiTab-wrapper {
  font-size: 16px;
  text-align: left;
  align-items: flex-start !important;
  font-family: "NTR", sans-serif;
}

.MuiButtonBase-root {
  outline: none !important;
  color: var(--lightest-slate) !important;
}

.PrivateTabIndicator-colorSecondary-5 {
  background-color: var(--green-bright) !important;
}
.jss5 {
  background-color: var(--green-bright) !important;
}
.makeStyles-tabs-2 {
  border-right: 1px solid var(--lightest-navy) !important;
}
#experience .MuiTab-root {
  padding: 6px 20px;
}
.MuiButtonBase-root:focus {
  color: var(--green-bright) !important;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.job-description li::before {
  content: "▹    ";
  color: var(--green-bright);
  position: absolute;
  left: 0;
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 16px;
  font-size: 18px;
  color: var(--slate);
}

.job-description {
  padding-top: 24px;
  max-width: 650px;
  font-family: "NTR", sans-serif;
  font-size: 20px;
}

.job-description a,
.job-description b {
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: 788px) {
  .about-image img {
    max-width: 200px;
  }
}


/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }

  header {
    padding: 5rem;
  }
  .header-img {
    margin-left: 30rem;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  .header__container {
    padding: 0 1rem;
    height: auto;
    width: auto;
  }

  header {
    height: auto;
    padding-top: 4rem;
  }

  .header-img {
    display: none;
  }

  .header__socials {
    display: flex;
    position: fixed;
    left: 5%;
    top: -40rem;
  }
  
  .intro-title {
    font-size: 2.5rem;
    margin-right: 0;
  }
  
  .intro-name {
    color: rgb(201, 52, 201);
  }
  
  .Cursor {
    font-size: 40px;
  }

  
  .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 0;
    text-align: center;
  }
  
  .intro-desc {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    margin-right: 0;
  }

  .btn-primary {
    margin: 0 auto;
    display: block;
  }

  .sidebar-nav {
    width: 100%;
    height: 50px;
  }

  .sidebar-links {
    padding-left: 20px;
    flex-direction: row;
    text-align: right;
    font-size: 9px;
  }

  .sidebar-logos {
    padding-top: 0px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50%;
  }

  .sidebar-nav {
    position: unset;
    align-items: center;
  }
  .sidebar-logos {
    width: 70px;
    padding-left: unset;
  }

  #about {
    height: unset;
    margin: 20px;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .about-description {
    font-size: 18px;
    text-align: justify;
  }

  .about-description a,
  .about-description b {
    font-size: 17px;
  }

  .about-image img {
    display: none;
  }

  .about-content {
    display: unset;
  }

  .section-header:after {
    display: none;
  }
}