@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "NTR", sans-serif;
}

:root {
  --color-bg2: rgb(52, 14, 68);
  --color-bg3: #2D033B;
  --dark-purple: #810CA8;
  --plum: #432762;
  --neon-purple: #C147E9;
  --lightest-purple: #E5B8F4;
  --light-purple: #e957ff;
  --bright-pink: #d41fd4;

  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.7;
}

/* Animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.App {
  /*background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);*/
  /*background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);*/
  /*background-image: linear-gradient( 135deg, #FF7AF5 10%, #513162 100%);*/
  /*background-color: #513162;*/
  /*background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);*/
  /*background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);*/
  background-color: #2D033B;
  display: flex;
  flex-direction: row;
  /* padding: 36px 76px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#content {
  /* padding: 80px 200px; */
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
.rs-steps-horizontal .rs-steps-item-content {
  text-align: left;
}

::selection {
  background: rgb(189, 189, 207); /* WebKit/Blink Browsers */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100vw;
  padding-top: 10px;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: #543875;
}

.section-title {
  font-family: "NTR", sans-serif;
  color: var(--white);
  font-size: 46px;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 40px 24px;
  }

  #content {
    padding: 10px 10px;
    width: 100%;
  }

  .section-header {
    width: unset;
  }

  .section-header::after {
    display: none;
  }

  .section-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 788px) {
  .about-image img {
    max-width: 200px;
  }
}


/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }

  header {
    padding: 5rem;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  .header__container {
    padding: 0 1rem;
    height: auto;
    width: auto;
  }

  header {
    height: auto;
    padding-top: 4rem;
  }

  .header-img {
    display: none;
  }
  
  .intro-title {
    font-size: 2.5rem;
    margin-right: 0;
  }
  
  .intro-name {
    color: rgb(201, 52, 201);
  }
  
  .Cursor {
    font-size: 40px;
  }

  
  .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 0;
    text-align: center;
  }
  
  .intro-desc {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    margin-right: 0;
  }

  .btn-primary {
    margin: 0 auto;
    display: block;
  }

  .sidebar-nav {
    width: 100%;
    height: 50px;
  }

  .sidebar-links {
    padding-left: 20px;
    flex-direction: row;
    text-align: right;
    font-size: 9px;
  }

  .sidebar-logos {
    padding-top: 0px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50%;
  }

  .sidebar-nav {
    position: unset;
    align-items: center;
  }
  .sidebar-logos {
    width: 70px;
    padding-left: unset;
  }

  #about {
    height: unset;
    margin: 20px;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .about-description {
    font-size: 18px;
    text-align: justify;
  }

  .about-description a,
  .about-description b {
    font-size: 17px;
  }

  .about-image img {
    display: none;
  }

  .about-content {
    display: unset;
  }

  .section-header:after {
    display: none;
  }

  #projects {
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }
  .carousel {
    display: none;
  }
}